.submit-button, .view-button, .addtocart-button, .checkout-button{
    background-color: #f8479C;
    color: #f3f3f3;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
  }
  
  .button-hover:hover {
    background-color: #fff;
    border: 1px solid;
    border-color: #f8479C;
    color:#f8479C;
  }

.remove-button {
    background-color: #FF0000;
    color: #F3F3F3;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

.remove-button:hover{
    background-color: #FFF;
    border: 1px solid;
    border-color: #FF0000;
    color:#FF0000;
}