.cart-icon {
  position: relative;
}

.icon-container {
  display: inline-block;
  position: relative;
}

.cart-icon {
  font-size: 35px;
  color: #fff; 
  margin-right: 1.5em;
}

.item-count {
  position: absolute;
  top: -8px; 
  right: -8px; 
  background-color: #1AA3FF; 
  color: #fff; 
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px;
  z-index: 4;
}
.fa-cart-shopping {
  color: #fff;
}